<nav id="navbar">
    <div class="inner">
        <!-- SVG Logo here -->
        <a class="logo" href="/">
            <img src="/logo.svg" alt="Logo" />
        </a>

        <div>
            <a href="/">HOME</a>
            <a href="/products">PRODUCTS</a>
            <a href="/contact">CONTACT</a>
            <a href="/cart">
                <img src="/cart.svg" alt="Cart"/>
            </a>
        </div>
    </div>
</nav>