<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="The best place for purchasing images of NFTS." />
    <meta name="keywords" content="NFT, Not Scam, Crypto" />
    <meta name="author" content="Very Legit NOT Scammers INC" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/{{@exphbs.view}}.css" >
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
</head>

<body>
    {{> admin_navbar }}

    <main>
        {{{body}}}
    </main>

</body>

</html>