<div class="body">
    <div class="information">
        <div id="title">
            <h1>Information</h1>
        </div>
        <div class="content">
            <div class="income">
                <h1>Loot</h1>
                <div id="sum">
                    <p>0.00kr</p>
                </div>
            </div>
            <div class="lager">
                <h1>Stock</h1>
                <div id="sum">
                    <p>0 st</p>
                </div>
            </div>
            <div class="users">
                <h1>Användare</h1>
                <div id="sum">
                    <p>0 st</p>
                </div>
            </div>
            <div class="sold">
                <h1>Sold</h1>
                <div id="sum">
                    <p>0 st</p>
                </div>
            </div>
        </div>
    </div>
    <div class="settings">
        <div id="title">
            <h1>Settings</h1>
        </div>
    </div>
</div>