<div class="cart">
    <div class="cart-div">
        <div class="cart-text-border">
            <h1 class="cart-h1">Cart</h1>
        </div>
        <div class="cart-flex">
            <div class="items-in-cart">

            </div>
            <div class="info-div">

            </div>
        </div>
    </div>
</div>