<div id="contact">
    <div class="inner">
        <div class="contact-form">
           <div>
               <div>
                   <p>Name</p>
                    <input type="text" id="name" name="name" placeholder="John Dough" required/>
               </div>
                <div>
                    <p>Phone</p>
                    <input type="tel" id="phone" name="phone" placeholder="043 1234 234" required/>
                </div>
            </div>
            <div>
                <div>
                    <p>Email</p>
                    <input type="text" id="email" name="email" placeholder="john.dough@domain.com" required/>
                </div>
                <div>
                    <p>Subject</p>
                    <input type="text" id="subject" name="subject" placeholder="Urgent" required/>
                </div>
            </div>
            <div class="textbox-container">
                <p>Message</p>
                <textarea name="message" placeholder="Message" required></textarea>
            </div>          
            <button>Send</button>
        </div>
        <div class="info">
            <h2>Want to get in contact?</h2>
            <p>Looking to report a bug, ask a question or just want to chat? Hit us up with an email, don't be shy!</p>
        </div>
    </div>
</div>