<div id="contact">
    {{!-- <div class="inner"> --}}
        <div class="contact-form">
           <div>
                <input type="text" id="name" name="name" placeholder="John Dough" required/>
                <input type="tel" id="phone" name="phone" placeholder="043 1234 234" required/>
            </div>
            <div>
                <input type="text" id="email" name="email" placeholder="john.dough@domain.com" required/>
                <input type="text" id="subject" name="subject" placeholder="Urgent" required/>
            </div>
            <textarea name="message" placeholder="Message" required>
            </textarea>
            <button>Send</button>
        </div>
        <div class="info">
        
        </div>
    {{!-- </div> --}}
</div>