<div class="intro">
    <img src="/underwatah.png" alt="bg" class="bg">
    <div class="bg-overlay"></div>
    <div class="content">

        <div class="logo">
            <img src="/logo.svg" alt="logo">
        </div>

        <div class="cta-button">
            yeet
        </div>

        <div class="desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, ratione quisquam. Dignissimos ullam nisi
            adipisci omnis explicabo culpa quasi. Recusandae unde aperiam voluptates labore. Sequi esse praesentium modi
            ducimus iure!
        </div>
    </div>
</div>

<div class="about">
    <div class="card">
        <div class="img">
            <img src="/underwatah.png" alt="bg">
        </div>
        <div class="content">
            <div class="title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="/underwatah.png" alt="bg">
        </div>
        <div class="content">
            <div class="title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            </div>
        </div>
    </div>
</div>