@use "base";

body {
    flex-direction: row;
    background: #343a40;
    height: 100%;
    overflow: hidden;
}

#nav {
    background: #212529;
    max-width: 200px;
    min-width: 105px;
    width: 10%;
    height: 100%;
    text-align: center;
    padding: 25px;

    box-shadow: base.$box-shadow;

    z-index: 1;

    .logo {
        margin-top: 50px;
    }

    .button {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        row-gap: 50px;
        font-weight: 300;
        font-size: 100%;

        .buttons {
            background: #3e92cc;
            padding: 2px;
            border-radius: 10px;
            font-display: hidden;
            transition: 5ms;
            &:hover {
                transform: scale(1.05);
                background: #2a628f;
            }
        }

        @media (max-width: 1185px) {
            .buttons {
                font-size: 0px;
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }
        }
    }
}
