// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Magra:wght@400;700&display=swap");

/* -------------- SCSS Variables -------------- */
$navy-blue: #13293d;
$dark-blue: #18435a;
$light-blue: #2a628f;
$lighter-blue: #3e92cc;
$base-blue: #16324f;
$star-color: #d9d9d9;
$text-color: #ffffff;
$text-color-light: #d9d9d9; // Same as $star-color, new variable to make it less confusing
$text-color-2: #000000;
$marked-text-color: rgb(255, 145, 0);

$border-radius: 10px;
$navbar-height: 80px;
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

$common-width: 1000px;
$common-gap: 25px;
$common-padding: 55px;
$common-padding-small: 10px;

$desktop-width: 1px; // CHANGE THIS
$tablet-width: 1px; // CHANGE THIS
$mobile-width: 1px; // CHANGE THIS

@mixin custom-box-shadow {
    box-shadow: -1px 10px 24px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: -1px 10px 24px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 10px 24px 0px rgba(0,0,0,0.29);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::selection {
        background-color: $marked-text-color;
        color: $dark-blue;
    }
}

body {
    background-color: $base-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    overflow-x: hidden;

    color: $text-color;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

main {
    // width: calc(100% - 40px);
    // max-width: 1000px;
    width: 100%;
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

nav#navbar {
    background-color: $navy-blue;
    width: 100%;
    height: $navbar-height;

    .inner {
        max-width: $common-width;
        height: 100%;

        margin-inline: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: flex;
            height: 100%;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            a {
                font-family: "Magra", sans-serif;
                font-weight: 600;
                color: $lighter-blue;
            }
        }
    }

    .logo {
        padding: 15px 0;
        color: $lighter-blue;
        svg {
            height: 100%;
        }
    }
}

footer#footer {
    background-color: $navy-blue;
    width: 100%;
    margin-top: 50px;
    height: 100px;

    .inner {
        max-width: $common-width;
        margin-inline: auto;
    }
}

textarea {
    resize: none;
}

svg,
img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
