@use "base";
@use "admin";

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;

    @media (max-width: 921px) {
        flex-direction: column;
        align-items: center;
    }

    .title {
        background-color: #3e92cc;
        padding: 2px;
    }

    .splitLeft {
        width: 50%;
        min-width: 400px;

        .admin {
            width: 150px;
            background: #3e92cc;
            border-radius: 15px;

            margin-inline: auto;
            margin-top: 10%;

            text-align: center;
            padding: 10px;
        }
        .money {
            width: 250px;
            height: 150px;
            background: #6c757d;
            box-shadow: base.$box-shadow;

            margin-inline: auto;
            margin-top: 150px;

            text-align: center;

            #sum {
                background-color: #3e92cc;
                font-size: 20px;
                width: 90%;
                height: 25px;

                margin-top: 50px;
                margin-inline: auto;
                overflow: hidden;
            }
        }
    }

    .splitRight {
        width: 50%;
        min-width: 400px;

        .adminlist {
            min-width: 300px;
            min-height: 200px;
        
            height: 20%;
            width: 200px;
            background: #6c757d;
            box-shadow: base.$box-shadow;

            margin-inline: auto;
            margin-top: 75px;

            text-align: center;

            overflow: scroll;

            #list {
                background: #6c757d;

                padding-top: 10px;

                display: grid;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 10px;

                .indiv {
                    width: 100%;
                    background: #2a628f;

                    padding: 10px;
                    padding-right: 5%;
                    margin-top: 5px;

                    display: flex;
                    justify-content: space-between;

                    button {
                        width: 45px;
                        height: 15px;
                        border-radius: 10px;
                        border: 1.5px solid black;
                        background: #cc3e60;

                        &:hover {
                            cursor: pointer;;
                        }

                        &:active {
                            transform: base.$active-scale;
                            transition: 1ms;
                        }
                    }
                }
            }
        }

        .settings {
            width: 350px;
            height: 250px;
            background: #6c757d;
            box-shadow: base.$box-shadow;

            margin-inline: auto;
            margin-top: 75px;

            text-align: center;
        }
    }
}
