@use "base";
@use "admin";

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;

    display: flex;
    justify-content: space-between;

    .information {
        width: 25%;
        height: 100%;
        min-width: 175px;
        background: #6c757d;
        box-shadow: base.$box-shadow;

        text-align: center;

        #title {
            background-color: #3e92cc;
            padding: 2px;
            margin-bottom: 15px;
        }

        .content {
            display: grid;
            grid: repeat(1, 1fr);
            row-gap: 50px;

            .income {
                #sum {
                    background-color: #3e92cc;
                    font-size: 20px;
                    width: 90%;
                    height: 25px;

                    margin-inline: auto;
                    overflow: hidden;
                }
            }

            .lager {
                #sum {
                    background-color: #3e92cc;
                    font-size: 20px;
                    width: 90%;
                    height: 25px;

                    margin-inline: auto;
                    overflow: hidden;
                }
            }

            .users {
                #sum {
                    background-color: #3e92cc;
                    font-size: 20px;
                    width: 90%;
                    height: 25px;

                    margin-inline: auto;
                    overflow: hidden;
                }
            }

            .sold {
                #sum {
                    background-color: #3e92cc;
                    font-size: 20px;
                    width: 90%;
                    height: 25px;

                    margin-inline: auto;
                    overflow: hidden;
                }
            }
        }
    }
    .settings {
        width: 25%;
        height: 100%;
        min-width: 175px;
        background: #6c757d;
        box-shadow: base.$box-shadow;
        text-align: center;

        #title {
            background-color: #3e92cc;
            padding: 2px;
            margin-bottom: 15px;
        }

        .a {
            width: 350px;
            height: 250px;
            background: #6c757d;
            box-shadow: base.$box-shadow;

            margin-inline: auto;
            margin-top: 75px;

            //text-align: center;
        }
    }
}
