@use "base";
@use "main";

#contact {
    flex: 1;
    // width: 100%;
    height: 90dvh;
    padding: 5dvh 0;
    width: 100%;

    .inner {
        max-width: base.$common-max-width;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: base.$common-gap;
        margin-inline: auto;
        .contact-form {
            @include base.custom-box-shadow;
            width: 65%;
            height: 100%;

            border-radius: base.$border-radius;
            padding: base.$common-padding;
            display: flex;
            flex-direction: column;
            gap: base.$common-gap;
            background-color: base.$dark-blue;

            div {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: base.$common-gap;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    p {
                        font-family: "Magra", sans-serif;
                    }

                    input {
                        border-radius: base.$border-radius;
                        padding: base.$common-padding-small;
                        width: 100%;
                        ::-webkit-input-placeholder,
                        :-moz-placeholder,
                        ::-moz-placeholder,
                        :-ms-input-placeholder,
                        ::-ms-input-placeholder,
                        ::placeholder {
                            color: base.$text-color-light;
                        }
                        color: base.$text-color-2;
                        border: none;

                        &:focus {
                            outline: 2px solid base.$text-color-2;
                        }
                    }
                }
            }

            div.textbox-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    font-family: "Magra", sans-serif;
                }

                textarea {
                    border-radius: base.$border-radius;
                    padding: base.$common-padding-small;
                    flex: 1;
                    width: 100%;
                    border: none;

                    &:focus {
                        outline: 2px solid base.$text-color-2;
                    }
                }
            }

            button {
                @include base.custom-box-shadow;
                padding: base.$button-padding;

                align-self: flex-end;
                font-size: 20px;
                font-family: "Magra", sans-serif;
                font-weight: 700;
                background-color: base.$lighter-blue;
                color: base.$text-color;
                border: none;
                transition: base.$custom-transition-time;

                &:hover {
                    cursor: pointer;
                    background-color: base.$navy-blue;
                    transition: base.$custom-transition-time;
                }

                &:active{
                    transform: base.$active-scale;
                    transition: 1ms;
                }
            }
        }

        .info {
            @include base.custom-box-shadow;
            height: 100%;
            flex: 1;
            border-radius: base.$border-radius;
            padding: base.$common-padding;
            background-color: base.$light-blue;

            h2 {
                font-family: "Magra", sans-serif !important;
                font-size: 35px;
            }
        }
    }
}
