@use "base";
@use "tw";

main{
    position: relative;
}

.bg {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-overlay {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #13293dcc;
    backdrop-filter: blur(1px);
}

.search{
    background:#2A628F;
    border-radius: base.$border-radius;
    width: 750px;
    margin-inline: auto;
    margin-top: 50px;
    padding: 10px;

    .searchfield{
        background-color: #18435A;
        border-radius: base.$border-radius;
        text-indent: 10px;
        width: 200px;
        padding: 2px;
    }
}

.flex{
    display: flex;
    gap: base.$common-gap;
    max-width: base.$common-width;
    margin-inline: auto;

    .category{
        border-radius: base.$border-radius;
        max-height: 793px;
        margin-top: 50px;
        padding: base.$common-padding;
        background: #18435A;
    }
    
    .products {
        margin-top: 50px;
        gap: base.$common-gap;
        border-radius: base.$border-radius;
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        max-width: base.$common-width;
        padding: 10px;
    
        background:#18435A;
        
        @media (max-width: 768px) {
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width: 486px) {
            grid-template-columns: repeat(1,1fr);
        }
        
        
        .product{
            border: 5px solid base.$navy-blue;
            background:#3e92cc;
            
            img{
               max-width: 100%;
            }
    
            h2{
                font-size: 100%;
            }
    
            .info{
                padding: 5px;
                display: flex;

                .price{
                    width: 50%;
                    overflow: hidden;
                    text-align: center;
                }
        
                .title{
                    width: 50%;
                    overflow: hidden;
                    margin: auto;
                }
    
            }
        }
        
    }
}
